<div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5">
  <h1 class="heading">Stupid Coaching</h1>

  <form action="/answer" data-turbo="false">
    <small class="form-text text-muted">Ask your coach anything:</small>
    <div class="d-flex">
    <input type="text" class="form-control" name="question" value="<%= params[:question] %>">
    <input type="submit" class="blue-btn" value="Ask">
    </div>
  </form>
</div>
